.nav {
  background-color: getColour(beige) !important;
}
.nav__logo {
  color: #262626 !important;
  font-size: 36px;
  font-family: getFont(main), sans-serif;
  font-weight: 300;
}
.nav__btn {
  border: none;
  color: getColour(greytitle) !important;
}

.navlist {
  font-family: getFont(second), sans-serif;
  font-size: 18px;

  &__item {
    text-transform: uppercase;
  }
  &__link {
    color: getColour(greynav) !important;
  }
  &__link--active {
    color: getColour(pink) !important;
  }
}

@media (max-width: 768px) {
  .nav {
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.15);
  }
  .navlist {
    padding-bottom: 52px;
    margin-top: 20px;
  }
}
